.page {
	margin: 0 auto;
	width: 100%;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/*
* Navigation
*/

.navigation {
	margin: 0 auto;
	text-align: center;
}

.navigation li {
	float: center;
}

.navigation li a {
	padding: 20px;
	font-size: 12px;
}

ul.navigation li {
	display: inline;
}

a:link {
font : 11px verdana;
font-weight : bold;
text-decoration : underline;
color : #8F9E28;
}

a:visited {
font-weight : bold;
text-decoration : underline;
color : #C0C0C0;
}

a:hover, a:active {
text-decoration : underline;
color : #B8C271;
}

/*
* Navigation
*/




.centertext {
	text-align: center;
}

.graphicdesigner {
	text-align: center;
	background-color: #95AE58;
	color: #FFF;
	font-family: optima;
	font-size: 16px;
}

.whole img {
	width: 100%
}

.graybox {
	background-color: #E6E6E6;
	border-radius: 20px;
	padding: 30px;
	color: #000000;
}

.Headword h1{
	font-family: verdana;
	font-size: 50px;
	color: white;
	background-color: #952C2C;
}

.ThankYou{
	font-size: 13px;
	color: #952C2C;
}



/*
* About Me
*/
.placesworked {
	list-style-type: none;
	background-color: #95AE58;
	color: white;
	padding: 10px;
}

.placesworked li {
	color: white;
	font-size: 14px;
}

.placesworked h1 {
	font-size: 22px;
}
/*
* About Me
*/



/*
* Gallery
*/

.contentleft {
	float:left;
	width:66.666666666%;
}

.sidebarright{
	background-color: #4d4d4d;
	color: white;
	float: right;
	width:33.333333333%;
}

.sidebarright li{
	color: white;
	font-size: 13px;
	padding: 5px;
}

.sidebarright h3{
	font-size: 18px;
	padding: 10px;
}
/*
* Gallery
*/




/*
* About Me
*/

.sidebarleft{
	background-color: #4d4d4d;
	color: white;
	float: left;
	width: 33.333333333%;
}

.sidebarleft li{
	color: white;
	font-size: 13px;
	padding: 5px;
}
.contentright {
	float:right;
	width:66.666666666%;
}

.contentright h5{
	font-size: 25px;
	color: #95AE58;
	margin-top: -5px;
}

.companies li{
	float:left;
	width: 33.333333333%;
}
/*
* About Me
*/






/*
* Gallery, About me
*/
.contentright p
.contentleft p {
	margin-top: 0px;
}





/*
* Contact Me - form
*/

.form {
	background-color:#95AE58;
	color: white;
}

.submitclear {
	color: black;
}

/*
* Contact Me - form
*/


.centertext p {
	font-weight: 5px;
}
h1.centertext {
	font-family: optima;
	font-family: 'Lobster Two', cursive;
	color: #952C2C;
	font-size: 45px;
	margin: 0px 0px -15px 0px;
}

h2.centertext {
	font-family: 'Lobster Two', cursive;
	font-weight: 20px;
	color: #952C2C;
	text-align: center;
}



.third {
	width: 33%;
	float: left;
}

.third h2 {
	font-family: 'Lobster Two', cursive;
	color: #95AE58;
	font-size: 25px;
}

.third p {
	font-size: 16px;
}


.third img {
	max-width: 100%
}

.third ul{
list-style-type: none;
}

.thirdsmwhiteboxestop {
	padding: 10px;
}

.thirdsmwhiteboxes {
	background: white;
	padding: 10px;
}


.halfsmwhiteboxes {
	padding: 10px;
}

.half {
	width: 50%;
	float: left;
	background: white;
	padding: 0px;
}

.half h2{
	font-family: 'Lobster Two', cursive;
	font-weight: 25px;
	color: #95AE58;
}

.half img {
	max-width: 100%
}

.halfsmwhiteboxes {
	background: white;
	padding: 10px;
}


/*
* Footer
*/

.footerwrapper{
	background: black;
	padding: 10px;
	color:white;
}

.footerlinks li{
	list-style: none;
	float:left;
	margin: 50px 5px 5px 5px;
}


/*
.accordion-header{
	background: #424242;
	color: white;
	padding: 3px;
	cursor: pointer;
}

.accordion-header h3{
 	padding: 5px;
 	margin: 0px;
 }

.accordion-content {
	background: #eee;
	display: none;
}

.accordion-header:hover{
	background: #222;
}
*/





/*
* Media Queries
*/



@media (max-width: 600px) {
	.half h2, 
	.third h2 {
		font-size: 10px;
}

@media (max-width: 600px) {
	.half p, 
	.third p {
		font-size: 10px;
}

@media (max-width: 600px) {
	.placesworked li{
		font-size: 12px;
	}	

@media (max-width: 400px) {
	.footerlinks ul{
		font-size: 4px;
	}	


