.page {
	margin: 0 auto;
	width: 100%;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.navigation {
	margin: 0 auto;
	padding: 0;
	max-width: 2000px;
}

.navigation li {
	float: left;
	display: inline;
}

.navigation li a {
	padding: 1em;
	font-size: 3em;
	list-style: none;
}

a:link {
font : 11px verdana;
font-weight : bold;
text-decoration : underline;
color : #8F9E28;
}

a:visited {
font-weight : bold;
text-decoration : underline;
color : #C0C0C0;
}

a:hover, a:active {
text-decoration : underline;
color : #B8C271;
}

.whole img {
	width: 100%
}





.fa-mobile {
background-color: #C9c9c9;
border-radius: 10px;
padding: 15px;
color: #FFF;
}
	
.fa-rocket {
background-color: #C9c9c9;
border-radius: 10px;
padding: 15px;
color: #FFF;
}

.fa-laptop {
background-color: #C9c9c9;
border-radius: 10px;
padding: 15px;
color: #FFF;
}


.centertext {
	text-align: center;
}




.centertext h2{
	font-size: 6em;
	font-family: 'Lobster Two', cursive;
	color: #952C2C;
}


.graphicdesigner {
	text-align: center;
	background-color: #95AE58;
	color: #FFF;
	font-family: optima;
	font-size: 100px;
}

.portfoliocentertext h2{
	font-size: 6em;
	font-family: 'Lobster Two', cursive;
	color: #952C2C;
}


.third img {
	width: 100%
}


.graybox {
	background-color: #999999;
	border-radius: 20px;
	padding: 30px;
	color: #FFF;
}

h1.centertext {
	font-family: optima;
	font-family: 'Lobster Two', cursive;
	color: #952C2C;
	font-size: 300px;
	margin: 0px 0px -15px 0px;
}


.third {
	width: 33%;
	float: left;
}

.third h2 {
	font-family: 'Lobster Two', cursive;
	color: #95AE58;
	font-size: 6em;
}

.third p {
	font-size: 3em;
}


.third img {
	width: 100%
}

.half{
	width: 50%;
	float: left;
}

.half h2{
	font-family: 'Lobster Two', cursive;
	font-weight: 6em;
}

.half img {
	width: 100%
}

